.chat{
    width: 100%;
    height: 600px;
    padding: 55px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 769px) {
  .chat_container{
    z-index: 0;
    position: relative;
    margin-top: 30px;
    height:100%;
  
  }
  .chat{
      height:100vh;
  }
.chat_box_container{
display: none;
}
.chatbox_header_go_back{
display: block;
}
}
.chat_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px 3px  rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.chat_content_up{
    width: 100%;
    height: 20%;
    display: flex;
    padding: 10px;
    justify-content: start;
    align-items: center;
    border-bottom:1px solid #CFD1D8;
}
.chat_content_up_img img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.chat_content_up_text{
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.chat_content_up_text h3{
    font-family: 'Inter';
font-size: clamp(17px , 2vw , 24px);
font-weight: 300;
color: #343A40;
line-height: 28px;
letter-spacing: -0.003em;
text-align: left;
}

.chat_messages{
    width: 100%;
    height: 65%;
    overflow-y: scroll;
    padding: 10px;
}
.receive_message , .send_message{
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 100%;
} 
.send_message{
    justify-content: end;
}
.message_sender_image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.message_receiver_image{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.message_sender_image img , .message_receiver_image img{
    width: 30px;
    height: 30px;
}

.receiver_message_body , .sender_message_body{
    max-width: 50%;
    padding: 20px;
    border-radius: 30px;
    background: #CFD1D8;
}
.sender_message_body{
    background: #DAE8F1;
}
.receiver_message_body span, .sender_message_body span{
    font-family: 'Inter';
font-size: clamp(10px,2vw,16px);
font-weight: 300;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

}
.receiver_message_body_footer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.sender_message_body_footer{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.message_data span{
    font-family: 'Inter';
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;

}
.message_read{
    margin-left: 10px;
}

.chat_down{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat_send-file{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    
}
.chat_send-file input{
    position: absolute;
    width: 26px;
    height: 20px;
    z-index: 9;
    opacity: 0;
}
.chat_send-file img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40%;
    right: 0;
    z-index: 2;
}
.chat_send-file input:hover{
    cursor: pointer;
}
.chat_input{
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 10px;
    font-family: 'Inter';
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.chat_input input{
    width: 100%;
    height: 20px;
    border: none;
}
.chat_send_button{
    width: 5%;
}

.chat_send_button button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #104772;
   
    transition: all 0.3s ease-in-out;
      color: #FFF;
}
.chat_send_button button:hover{
    cursor: pointer;
    opacity: 0.9;

}
@media (max-width:647px){
    .message_receiver_image{
        display: none;
    }
    .message_sender_image{
        display: none;
    }
    .receiver_message_body{
        max-width: 90%;
    }
    .chat_send_button{
        width: 15%;
    }
    .chat_send-file{
        width: 15%;
    }
    .chat_send_button button{
        width: 25px;
        height: 25px;
    }
}
@media (min-width:1500px){
    .chat{
           padding: 55px 0 0 65px;
    }
}